#config folder
config/*
!config/env.dist
!config/index.js

# package directories
node_modules
jspm_packages

# Work folder
.idea
.DS_STORE

# Serverless directories
.serverless

# Logs
logs
*.log
npm-debug.log*